

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filterBox {
    display: flex;
    justify-content: center;
    margin: 3rem;

    input {
        padding: 1rem;
        font-size: 17px;
    }

}




.title {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.item {
    width: 20rem;
    height: 8rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}